@page "{id:int}"
@using RAM___RUC_Allocation_Manager.Models
@using RAM___RUC_Allocation_Manager.Models.DbConnections
@using RAM___RUC_Allocation_Manager.Models.WorkAssigments
@using RAM___RUC_Allocation_Manager.MockData
@model RAM___RUC_Allocation_Manager.Pages.EditEmployeePage.EditEmployeePageModel
@{
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#myModal").modal({ backdrop: "static" });
            $("#myModal").modal("show");
        });
    </script>
}

<div class="row">

    <div class="col-1"></div>
    <div class="col-10">
        <div class="container" style="display: flex; justify-content: center;">
            <img src="~/assets/ram-full-icon-bg.png" class="ram-icon-bg">
        </div>
    </div>
    <div class="col-1"></div>

</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Redigér Ansat</h2>
                <span><a asp-page="../LeaderLandingPage/LeaderLandingPage"><i class="fa-solid fa-lg fa-xmark"></i></a></span>
            </div>
            <form method="post">
                <div class="modal-body">

                    <span>Redigéring af brugeren: <b>@Model.EmployeeToEdit.Name (@Model.EmployeeToEdit.Username)</b></span>

                    <hr />

                    <div hidden="@true">
                        <div class="form-group">
                            <label asp-for="@Model.Id" class="control-label"></label>
                            <input asp-for="@Model.Id" value="@Model.EmployeeToEdit.Id" readonly class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="text-danger">*</span><label asp-for="@Model.Name" class="control-label"></label>
                        <span class="text-danger ml-1" asp-validation-for="@Model.Name"></span>
                        <input asp-for="@Model.Name" value="@Model.EmployeeToEdit.Name" class="form-control" placeholder="Indtast navn på ansat.." />
                    </div>

                    <div class="form-group">
                        <span class="text-danger">*</span><label asp-for="@Model.Email" class="control-label"></label>
                        <span class="text-danger ml-1" asp-validation-for="@Model.Email"></span>
                        <input asp-for="@Model.Email" value="@Model.EmployeeToEdit.Email" type="email" readonly class="form-control" placeholder="Indtast email for ny ansat.." />
                    </div>

                    <div class="form-group">
                        <span class="text-danger">*</span><label asp-for="@Model.Title" class="control-label"></label>
                        <span class="text-danger ml-1" asp-validation-for="@Model.Title"></span>
                        <select class="form-control" asp-for="@Model.Title"
                                asp-items="@Model.TitleSelectList">
                        </select>
                    </div>

                    <hr />

                    <div class="form-group">
                        <span class="text-danger">*</span><label asp-for="@Model.Username" class="control-label"></label>
                        <span class="text-danger ml-1" asp-validation-for="@Model.Username"></span>
                        <input asp-for="@Model.Username" value="@Model.EmployeeToEdit.Username" class="form-control" placeholder="Indtast brugernavn for ny ansat.." />
                    </div>

                    <div class="form-group">
                        <span class="text-danger">*</span><label asp-for="@Model.Password" class="control-label"></label>
                        <span class="text-danger ml-1" asp-validation-for="@Model.Password"></span>
                        <span class="text-danger ml-1" asp-validation-for="@Model.ConfirmPassword"></span>
                        <input asp-for="@Model.Password" type="password" class="form-control mb-1" placeholder="Indtast password for ny ansat.." />
                        <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" placeholder="Gentag password .." />
                    </div>

                </div>

                <div class="modal-footer">

                    <div class="row w-100">

                        <div class="col-6">
                            <a type="button" class="w-100 btn btn-danger" asp-page="../LeaderLandingPage/LeaderLandingPage">Annullér</a>
                        </div>
                        <div class="col-6">
                            <input type="submit" value="Opdatér Ansat" class="w-100 btn btn-primary">
                        </div>

                    </div>

                </div>

            </form>

        </div>
    </div>
</div>
