@page "{id:int}"
@using RAM___RUC_Allocation_Manager.Models
@using RAM___RUC_Allocation_Manager.Models.DbConnections
@using RAM___RUC_Allocation_Manager.Models.WorkAssigments
@using RAM___RUC_Allocation_Manager.MockData
@model RAM___RUC_Allocation_Manager.Pages.EditEmployeePage.EditEmployeePageModel
@{
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#myModal").modal({ backdrop: "static" });
            $("#myModal").modal("show");
        });
    </script>
}

<div class="row">

    <div class="col-1"></div>
    <div class="col-10">
        <div class="container" style="display: flex; justify-content: center;">
            <img src="~/assets/ram-full-icon-bg.png" class="ram-icon-bg">
        </div>
    </div>
    <div class="col-1"></div>

</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ændre ansat</h5>
                <a type="button" class="close" asp-page="../LeaderLandingPage/LeaderLandingPage">&times;</a>
            </div>
            <form method="post">
                <div class="modal-body">
                    <h5>Ændrer brugeren - @Model.EmployeeToEdit.Name</h5>
                    <div class="form-group">
                        <label asp-for="@Model.EmployeeToEdit.Id" class="control-lable"></label>
                        <input asp-for="@Model.EmployeeToEdit.Id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.EmployeeToEdit.Name" class="control-lable"></label>
                        <input asp-for="@Model.EmployeeToEdit.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.EmployeeToEdit.Username" class="control-lable"></label>
                        <input asp-for="@Model.EmployeeToEdit.Username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.EmployeeToEdit.Password" class="control-lable"></label>
                        <input asp-for="@Model.EmployeeToEdit.Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.EmployeeToEdit.Email" class="control-lable"></label>
                        <input asp-for="@Model.EmployeeToEdit.Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.EmployeeToEdit.Type" class="control-lable"></label>
                        <select class="form-control" asp-for="@Model.EmployeeToEdit.Type"
                                asp-items="Html.GetEnumSelectList<User.UserType>()">
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.EmployeeToEdit.Title" class="control-lable"></label>
                        <select class="form-control" asp-for="@Model.EmployeeToEdit.Title"
                                asp-items="Html.GetEnumSelectList<Employee.EmployeeTitle>()">
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Opdater Ansat" class="btn btn-primary" />
                        <a class="btn btn-danger" asp-page="../LeaderLandingPage/LeaderLandingPage">Annuller</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
