@page "{id:int}"
@model RAM___RUC_Allocation_Manager.Pages.EditSettingsProgramme.EditSettingsProgramme2Model
@{
}
<h2>Edit @Model.Programme.Name</h2>
<div class="container" style="display: flex; justify-content: left;">
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.Programme.Name" class="col-form-label" style="color:white"></label>
            <input asp-for="@Model.Programme.Name" />
        </div>
        <div class="form-group">
            <label asp-for="Leader">Choose a Leader:</label>
            <select id="Leader" name="Leaders">
                @foreach (var l in @Model.Leaders)
                {
                    <option asp-for="@l">@l.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-outline-light" asp-page-handler="Edit">Edit Programme</button>
        </div>

    </form>
    <form method="post" asp-page-handler="AddEmployee">
        <div class="form-group">
            <label asp-for="Employee">Choose an Employee:</label>
            <select id="Employee" name="Employees">
                @foreach (var l in @Model.Employees)
                {
                    <option asp-for="@l">@l.Name</option>
                }
                <div class="form-group">
                    <button class="btn btn-outline-light">Add Employee</button>
                </div>
            </select>
          
        </div>
    </form>
</div>
<a asp-page="/EditSettingsProgramme/EditSettingsProgramme"><button class="btn btn-outline-light">Back</button></a>