@page
@using RAM___RUC_Allocation_Manager.Models
@model RAM___RUC_Allocation_Manager.Pages.AddUser.AddUserModel
@{
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#myModal").modal({ backdrop: "static" });
                $("#myModal").modal("show");
            });
    </script>
}

<div class="row">

    <div class="col-1"></div>
    <div class="col-10">
        <div class="container" style="display: flex; justify-content: center;">
            <img src="~/assets/ram-full-icon-bg.png" class="ram-icon-bg">
        </div>
    </div>
    <div class="col-1"></div>

</div>

<form method="post">
    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Opret en ny leder</button>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Opret en ny leder</h5>
                        <a type="button" class="close" asp-page="../LeaderLandingPage/LeaderLandingPage">&times;</a>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="@Model.User.Type" class="control-lable"></label>
                            <select class="form-control" asp-for="@Model.User.Type"
                                    asp-items="Html.GetEnumSelectList<User.UserType>()">
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.User.Name" class="control-lable"></label>
                            <input asp-for="@Model.User.Name" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.User.Password" class="control-lable"></label>
                            <input asp-for="@Model.User.Password" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.User.Username" class="control-lable"></label>
                            <input asp-for="@Model.User.Username" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.User.Email" class="control-lable"></label>
                            <input asp-for="@Model.User.Email" class="form-control"/>
                        </div>

                        <div class="modal-footer">
                            <div class="form-group">
                                <input type="submit" value="Opret" class="btn btn-primary">
                                <a type="button" class="btn btn-danger" asp-page="../LeaderLandingPage/LeaderLandingPage">Luk</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>