@page
@using RAM___RUC_Allocation_Manager.Models
@model RAM___RUC_Allocation_Manager.Pages.LeaderLandingPage.LeaderLandingPageModel
@{
}
@section Scripts
{
    <script>

        //JQuery function to "click" the anchor tag for the pageSection.
        $(document).ready(function () {

            var element = document.getElementById('pageSectionAchor');
            element.click();

        });

    </script>
}

<h2 class="text-white pb-3">Velkommen @Model.Leader.Name</h2>
<section class="top" id="@LeaderLandingPageModel.PageSections.None.ToString().ToLower()"></section>

<hr />

<form method="post" class="w-100" id="professorsAndLeadersForm" asp-page-handler="PaginatedResult">

    <div class="row">

        <input type="hidden" id="pageSectionInput" asp-for="@Model.PageSection" value="@Model.PageSection" />
        <a hidden="@true" id="pageSectionAchor" href="#@Model.PageSection.ToString().ToLower()"></a>

        <div class="col-1"></div>
        <div class="col-10">

            <h3 class="">Alle Undervisere for dine studier</h3>
            <section id="@LeaderLandingPageModel.PageSections.ProgrammeEmployees.ToString().ToLower()"></section>

            <div class="pagination-search-container pb-3">

                <div class="float-left pb-3">

                    <div class="input-group mr-1">

                        <input type="hidden" id="progEmpSearchASP" asp-for="@Model.ProgrammeEmployeesSearchString" value="@Model.ProgrammeEmployeesSearchString" />
                        <input type="text" class="form-control" id="progEmpSearchHTML" value="@Model.ProgrammeEmployeesSearchString" />

                        <button type="button" class="btn btn-outline-primary ml-1" title="Tryk her for at søge" onclick="copyValue('progEmpSearchHTML', 'progEmpSearchASP', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.ProgrammeEmployees', submitForm('professorsAndLeadersForm')))">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        
                    </div>

                </div>

                <div class="float-right">

                    <input type="hidden" id="progEmpPageIndex" asp-for="@Model.PageIndexProgrammeEmployees" value="@Model.PageIndexProgrammeEmployees" />

                    <button type="button" class="btn btn-primary" title="Forrige side" onclick="decrementOne('progEmpPageIndex', 0, setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.ProgrammeEmployees', submitForm('professorsAndLeadersForm')))">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>

                    <span class="h5 vertical-align-md mb-0">@(Model.PageIndexProgrammeEmployees+1) | @(Model.PageMaxProgrammeEmployees+1)</span>

                    <button type="button" class="btn btn-primary" title="Næste side" onclick="incrementOne('progEmpPageIndex', '@(Model.PageMaxProgrammeEmployees)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.ProgrammeEmployees', submitForm('professorsAndLeadersForm')))">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>

                </div>

            </div>

            <input type="hidden" id="progEmpSortingOption" asp-for="@Model.ProgrammeEmployeesSortingOption" value="@(Model.ProgrammeEmployeesSortingOption)" />

            <table class="leader-landing-page table-dark table-striped">

                <thead>

                    <tr>
                        <th style="width:10%" scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">
                            Navn
                            <span>
                                <button type="button" class="btn btn-link" title="Sort by Name Ascending"
                                        onclick="setValue('progEmpSortingOption', '@(Models.Employee.SortingOptions.NameASC)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.ProgrammeEmployees', submitForm('professorsAndLeadersForm')))">
                                    <i class="fa fa-angle-up"></i>
                                </button>

                                <button type="button" class="btn btn-link" title="Sort by Name Descending"
                                        onclick="setValue('progEmpSortingOption', '@(Models.Employee.SortingOptions.NameDESC)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.ProgrammeEmployees', submitForm('professorsAndLeadersForm')))">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </span>
                        </th>
                        <th scope="col" class="text-center">
                            Titel
                            <span>
                                <button type="button" class="btn btn-link" title="Sort by Name Ascending"
                                        onclick="setValue('progEmpSortingOption', '@(Models.Employee.SortingOptions.TitleASC)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.ProgrammeEmployees', submitForm('professorsAndLeadersForm')))">
                                    <i class="fa fa-angle-up"></i>
                                </button>

                                <button type="button" class="btn btn-link" title="Sort by Name Descending"
                                        onclick="setValue('progEmpSortingOption', '@(Models.Employee.SortingOptions.TitleDESC)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.ProgrammeEmployees', submitForm('professorsAndLeadersForm')))">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </span>
                        </th>
                        <th style="width:10%" scope="col" class="text-center">Se</th>
                        <th style="width:10%" scope="col" class="text-center">Redigér</th>
                        <th style="width:10%" scope="col" class="text-center">Slet</th>

                    </tr>

                </thead>

                <tbody>

                    @for (int i = 0; i < Model.PaginatedProgrammeEmployees.Count; i++)
                    {
                    <tr style="height: 1rem;">
                        <th style="width:10%" scope="row" class="text-center">@(i + 1 + (Model.MaxItemsProgrammeEmployees * Model.PageIndexProgrammeEmployees))</th>
                        <td class="text-left">@((Model.PaginatedProgrammeEmployees[i] as Models.Employee).Name)</td>
                        <td class="text-left">@((Model.PaginatedProgrammeEmployees[i] as Models.Employee).Title)</td>
                        <td style="width:10%" class="text-center"><a data-toggle="tooltip" title="Se Underviser" asp-route-id="@(Model.PaginatedProgrammeEmployees[i].Id)" asp-page="/EmployeeLandingPage/EmployeeLandingPage"><i class="fa-solid fa-circle-info"></i></a></td>
                        <td style="width:10%" class="text-center"><a data-toggle="tooltip" title="Redigér Underviser" asp-route-id="@(Model.PaginatedProgrammeEmployees[i].Id)" asp-page="/EditEmployeePage/EditEmployeePage"><i class="fa-solid fa-pen"></i></a></td>
                        <td style="width:10%" class="text-center"><a data-toggle="tooltip" title="Slet Underviser" asp-route-id="@(Model.PaginatedProgrammeEmployees[i].Id)" asp-page="/DeleteUserPage/DeleteUser"><i class="fa-solid fa-trash-can"></i></a></td>
                    </tr>
                    }

                </tbody>

            </table>

        </div>
        <div class="col-1"></div>

        <hr />

        <div class="col-1"></div>
        <div class="col-10">

            <h3 class="">Alle Undervisere</h3>
            <section id="@LeaderLandingPageModel.PageSections.AllEmployees.ToString().ToLower()"></section>

            <div class="pagination-search-container pb-3">

                <div class="float-left pb-3">

                    <div class="input-group mr-1">

                        <input type="hidden" id="allEmpSearchASP" asp-for="@Model.AllEmployeesSearchString" value="@Model.AllEmployeesSearchString" />
                        <input type="text" class="form-control" id="allEmpSearchHTML" value="@Model.AllEmployeesSearchString" />

                        <button type="button" class="btn btn-outline-primary ml-1" title="Tryk her for at søge" onclick="copyValue('allEmpSearchHTML', 'allEmpSearchASP', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllEmployees', submitForm('professorsAndLeadersForm')))">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <span class="ml-1"><a class="btn btn-primary" data-toggle="Tilføj Underviser" asp-page="/AddUserPage/AddEmployee"><i class="fa-solid fa-plus"></i></a></span>

                    </div>

                </div>

                <div class="float-right pb-3">

                    <input type="hidden" id="allEmpPageIndex" asp-for="@Model.PageIndexAllEmployees" value="@Model.PageIndexAllEmployees" />

                    <button type="button" class="btn btn-primary" title="Forrige side" onclick="decrementOne('allEmpPageIndex', '0', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllEmployees', submitForm('professorsAndLeadersForm')))">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>

                    <span class="h5 vertical-align-md mb-0">@(Model.PageIndexAllEmployees+1) | @(Model.PageMaxAllEmployees+1)</span>

                    <button type="button" class="btn btn-primary" title="Næste side" onclick="incrementOne('allEmpPageIndex', '@(Model.PageMaxAllEmployees)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllEmployees', submitForm('professorsAndLeadersForm')))">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>

                </div>

            </div>

            <input type="hidden" id="allEmpSortingOption" asp-for="@Model.AllEmployeesSortingOption" value="@(Model.AllEmployeesSortingOption)" />

            <table class="leader-landing-page table-dark table-striped">

                <thead>

                    <tr>
                        <th style="width:10%" scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">
                            Navn
                            <span>
                                <button type="button" class="btn btn-link" title="Sort by Name Ascending"
                                        onclick="setValue('allEmpSortingOption', '@(Models.Employee.SortingOptions.NameASC)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllEmployees', submitForm('professorsAndLeadersForm')))">
                                    <i class="fa fa-angle-up"></i>
                                </button>

                                <button type="button" class="btn btn-link" title="Sort by Name Descending"
                                        onclick="setValue('allEmpSortingOption', '@(Models.Employee.SortingOptions.NameDESC)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllEmployees', submitForm('professorsAndLeadersForm')))">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </span>
                        </th>
                        <th scope="col" class="text-center">
                            Titel
                            <span>
                                <button type="button" class="btn btn-link" title="Sort by Name Ascending"
                                        onclick="setValue('allEmpSortingOption', '@(Models.Employee.SortingOptions.TitleASC)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllEmployees', submitForm('professorsAndLeadersForm')))">
                                    <i class="fa fa-angle-up"></i>
                                </button>

                                <button type="button" class="btn btn-link" title="Sort by Name Descending"
                                        onclick="setValue('allEmpSortingOption', '@(Models.Employee.SortingOptions.TitleDESC)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllEmployees', submitForm('professorsAndLeadersForm')))">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </span>
                        </th>
                        <th style="width:10%" scope="col" class="text-center">Se</th>
                        <th style="width:10%" scope="col" class="text-center">Redigér</th>
                        <th style="width:10%" scope="col" class="text-center">Slet</th>

                    </tr>

                </thead>

                <tbody>

                    @for (int i = 0; i < Model.PaginatedEmployees.Count; i++)
                    {
                        <tr style="height: 1rem;">
                            <th style="width:10%" scope="row" class="text-center">@(i + 1 + (Model.MaxItemsAllEmployees * Model.PageIndexAllEmployees))</th>
                            <td class="text-left">@((Model.PaginatedEmployees[i] as Models.Employee).Name)</td>
                            <td class="text-left">@((Model.PaginatedEmployees[i] as Models.Employee).Title)</td>
                            <td style="width:10%" class="text-center"><a data-toggle="tooltip" title="Se Professor" asp-route-id="@(Model.PaginatedEmployees[i].Id)" asp-page="/EmployeeLandingPage/EmployeeLandingPage"><i class="fa-solid fa-circle-info"></i></a></td>
                            <td style="width:10%" class="text-center"><a data-toggle="tooltip" title="Redigér Proffessor" asp-route-id="@(Model.PaginatedEmployees[i].Id)" asp-page=""><i class="fa-solid fa-pen"></i></a></td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
        <div class="col-1"></div>

        <hr />

        @if (HttpContext.User.IsInRole(Models.User.UserType.Adminstrator.ToString()))
        {
            <div class="col-1"></div>
            <div class="col-10">

                <h3 class="">Alle Ledere</h3>
                <section id="@LeaderLandingPageModel.PageSections.AllLeaders.ToString().ToLower()"></section>

                <div class="pagination-search-container pb-3">

                    <div class="float-left pb-3">

                        <div class="input-group mr-1">

                            <input type="hidden" id="allLeadsSearchASP" asp-for="@Model.AllLeadersSearchString" value="@Model.AllLeadersSearchString" />
                            <input type="text" class="form-control" id="allLeadsSearchHTML" value="@Model.AllLeadersSearchString" />

                            <button type="button" class="btn btn-outline-primary ml-1" title="Tryk her for at søge" onclick="copyValue('allLeadsSearchHTML', 'allLeadsSearchASP', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllLeaders', submitForm('professorsAndLeadersForm')))">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <span class="ml-1"><a class="btn btn-primary" data-toggle="Tilføj Leder" asp-page="/AddUserPage/AddUser"><i class="fa-solid fa-plus"></i></a></span>

                        </div>

                    </div>

                    <div class="float-right pb-3">

                        <input type="hidden" id="allLeadsPageIndex" asp-for="@Model.PageIndexAllLeaders" value="@Model.PageIndexAllLeaders" />

                        <button type="button" class="btn btn-primary" title="Forrige side" onclick="decrementOne('allLeadsPageIndex', '0', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllLeaders', submitForm('professorsAndLeadersForm')))">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>

                        <span class="h5 vertical-align-md mb-0">@(Model.PageIndexAllLeaders + 1) | @(Model.PageMaxAllLeaders + 1)</span>

                        <button type="button" class="btn btn-primary" title="Næste side" onclick="incrementOne('allLeadsPageIndex', '@(Model.PageMaxAllLeaders)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllLeaders', submitForm('professorsAndLeadersForm')))">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>

                    </div>

                </div>

                <input type="hidden" id="allLeadsSortingOption" asp-for="@Model.AllLeadersSortingOption" value="@(Model.AllLeadersSortingOption)" />

                <table class="leader-landing-page table-dark table-striped">

                    <thead>

                        <tr>

                            <th style="width:10%" scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">
                                Navn
                                <span>
                                    <button type="button" class="btn btn-link" title="Sort by Name Ascending"
                                            onclick="setValue('allLeadsSortingOption', '@(Models.Leader.SortingOptions.NameASC)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllLeaders', submitForm('professorsAndLeadersForm')))">
                                        <i class="fa fa-angle-up"></i>
                                    </button>

                                    <button type="button" class="btn btn-link" title="Sort by Name Descending"
                                            onclick="setValue('allLeadsSortingOption', '@(Models.Leader.SortingOptions.NameDESC)', setValue('pageSectionInput', '@LeaderLandingPageModel.PageSections.AllLeaders', submitForm('professorsAndLeadersForm')))">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                </span>
                            </th>
                            <th scope="col" class="text-center">Rolle</th>
                            <th style="width:10%" scope="col" class="text-center">Redigér</th>
                            <th style="width:10%" scope="col" class="text-center">Slet</th>

                        </tr>

                    </thead>

                    <tbody>

                        @for (int i = 0; i < Model.PaginatedLeaders.Count; i++)
                        {
                            <tr style="height: 1rem;">
                                <th style="width:10%" scope="row" class="text-center">@(i + 1 + (Model.MaxItemsAllLeaders * Model.PageIndexAllLeaders))</th>
                                <td class="text-left">@((Model.PaginatedLeaders[i] as Models.Leader).Name)</td>
                                <td class="text-left">Leader</td>
                                <td style="width:10%" class="text-center"><a data-toggle="tooltip" title="Redigér Leder" asp-route-id="@(Model.PaginatedLeaders[i].Id)" asp-page="/EditLeaderPage/EditLeaderPage"><i class="fa-solid fa-pen"></i></a></td>
                                <td style="width:10%" class="text-center"><a data-toggle="tooltip" title="Slet Leder" asp-route-id="@(Model.PaginatedLeaders[i].Id)" asp-page="/DeleteUserPage/DeleteUser"><i class="fa-solid fa-trash-can"></i></a></td>

                            </tr>
                        }

                    </tbody>

                </table>

            </div>
            <div class="col-1"></div>
        }

    </div>

</form>
