@page
@using RAM___RUC_Allocation_Manager.Models
@model RAM___RUC_Allocation_Manager.Pages.LeaderLandingPage.LeaderLandingPageModel
@{
}
@section Scripts
{
    <script>

    function myFunction() {
        $("#myModal").on("submit", function (event) {
            event.preventDefault();
        });

        $( "#myModal" ).submit(function( event ) {
            event.preventDefault();
        });

        //$(document).ready(function () {
        /*$("#myModal").modal({ backdrop: "static" });*/
        //    $("#myModal").modal("show");
        //});
    </script>
}

<form method="post">
    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create a new user</button>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Add a new User</h5>
                        <a type="button" class="close" asp-page="/Index">&times;</a>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <select class="form-control" asp-for="CreatedUser.Type"
                                    asp-items="Html.GetEnumSelectList<User.UserType>()">
                                <option selected="selected" value="">User Type</option>
                            </select>
                            <br />
                            <input type="submit" asp-page-handler="CheckType" onClick="myFunction()" value="Vælg Bruger Type" class="btn btn-primary"/>
                        </div>

                        <br />

                        @if (Model.IsLeader == false)
                        {
                            <select class="form-control" asp-for="Employee.Title"
                                    asp-items="Html.GetEnumSelectList<Employee.EmployeeTitle>()">
                                <option selected="selected" value="">Employee Title</option>
                            </select>
                        }

                        <div class="form-group">
                            <label asp-for="@Model.CreatedUser.Id" class="control-lable"></label>
                            <input asp-for="@Model.CreatedUser.Id" class="form-control" readonly/>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.CreatedUser.Name" class="control-lable"></label>
                            <input asp-for="@Model.CreatedUser.Name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CreatedUser.Password" class="control-lable"></label>
                            <input asp-for="@Model.CreatedUser.Password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CreatedUser.Username" class="control-lable"></label>
                            <input asp-for="@Model.CreatedUser.Username" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CreatedUser.Email" class="control-lable"></label>
                            <input asp-for="@Model.CreatedUser.Email" class="form-control" />
                        </div>

                        <div class="modal-footer">
                            <div class="form-group">
                                <a type="button" class="btn btn-danger" asp-page="/Index">Close</a>
                                <input type="submit" asp-page-handler="CreateUser" value="Create" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<h2 class="text-white pb-3">Velkommen @Model.Leader.Name</h2>

<div class="row">

    <form method="post" class="w-100" id="professorsAndLeadersForm" asp-page-handler="PaginatedResult">

        <div class="col-1"></div>
        <div class="col-10">

            <h3 class="">Alle Undervisere for dine studier</h3>
            

            <div class="pagination-search-container pb-3">

                <div class="float-left pb-3">

                    <div class="input-group mr-1">

                        <input type="hidden" id="progEmpSearchASP" asp-for="@Model.ProgrammeEmployeesSearchString" value="@Model.ProgrammeEmployeesSearchString" />
                        <input type="text" class="form-control" id="progEmpSearchHTML" value="@Model.ProgrammeEmployeesSearchString" />

                        <button type="button" class="btn btn-outline-primary ml-1" onclick="copyValueAndSubmitForm('progEmpSearchHTML', 'progEmpSearchASP', 'professorsAndLeadersForm')">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>

                    </div>

                </div>

                <div class="float-right">

                    <input type="hidden" id="progEmpPageIndex" asp-for="@Model.PageIndexProgrammeEmployees" value="@Model.PageIndexProgrammeEmployees" />

                    <button type="button" class="btn btn-primary" onclick="decrementOneAndSubmitForm('progEmpPageIndex', 'professorsAndLeadersForm')">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>

                    <span class="h5 vertical-align-md mb-0">@(Model.PageIndexProgrammeEmployees+1) | @(Model.PageMaxProgrammeEmployees+1)</span>

                    <button type="button" class="btn btn-primary" onclick="incrementOneAndSubmitForm('progEmpPageIndex', 'professorsAndLeadersForm', '@(Model.PageMaxProgrammeEmployees)')">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>

                </div>

            </div>

            <input type="hidden" id="progEmpSortingOption" asp-for="@Model.ProgrammeEmployeesSortingOption" value="@(Model.ProgrammeEmployeesSortingOption)" />

            <table class="leader-landing-page table-dark table-striped">

                <thead>

                    <tr>
                        <th style="width:10%" scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">
                            Navn
                            <span>
                                <button type="button" class="btn btn-link" title="Sort by Name Ascending" 
                                        onclick="setValueAndSubmitForm('progEmpSortingOption', 'professorsAndLeadersForm', '@(Models.Employee.SortingOptions.NameASC)')">
                                    <i class="fa fa-angle-up"></i>
                                </button>

                                <button type="button" class="btn btn-link" title="Sort by Name Descending"
                                        onclick="setValueAndSubmitForm('progEmpSortingOption', 'professorsAndLeadersForm', '@(Models.Employee.SortingOptions.NameDESC)')">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </span>
                        </th>
                        <th scope="col" class="text-center">
                            Titel
                            <span>
                                <button type="button" class="btn btn-link" title="Sort by Name Ascending"
                                        onclick="setValueAndSubmitForm('progEmpSortingOption', 'professorsAndLeadersForm', '@(Models.Employee.SortingOptions.TitleASC)')">
                                    <i class="fa fa-angle-up"></i>
                                </button>

                                <button type="button" class="btn btn-link" title="Sort by Name Descending"
                                        onclick="setValueAndSubmitForm('progEmpSortingOption', 'professorsAndLeadersForm', '@(Models.Employee.SortingOptions.TitleDESC)')">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </span>
                        </th>
                        <th style="width:10%" scope="col" class="text-center">Se</th>
                        <th style="width:10%" scope="col" class="text-center">Redigér</th>

                    </tr>

                </thead>

                <tbody>

                    @for (int i = 0; i < Model.PaginatedProgrammeEmployees.Count; i++)
                    {
                        <tr style="height: 1rem;">
                            <th style="width:10%" scope="row" class="text-center">@(i + 1 + (Model.MaxItemsProgrammeEmployees * Model.PageIndexProgrammeEmployees))</th>
                            <td class="text-left">@((Model.PaginatedProgrammeEmployees[i] as Models.Employee).Name)</td>
                            <td class="text-left">@((Model.PaginatedProgrammeEmployees[i] as Models.Employee).Title)</td>
                            <td style="width:10%" class="text-center"><a asp-route-id="@(Model.PaginatedProgrammeEmployees[i].Id)" asp-page="/EmployeeLandingPage/EmployeeLandingPage"><i class="fa-solid fa-circle-info"></i></a></td>
                            <td style="width:10%" class="text-center"><i class="fa-solid fa-pen"></i></td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
        <div class="col-1"></div>

        <hr />

        <div class="col-1"></div>
        <div class="col-10">

            <h3 class="">Alle Undervisere</h3>

            <div class="pagination-search-container pb-3">

                <div class="float-left pb-3">

                    <div class="input-group mr-1">

                        <input type="hidden" id="allEmpSearchASP" asp-for="@Model.AllEmployeesSearchString" value="@Model.AllEmployeesSearchString" />
                        <input type="text" class="form-control" id="allEmpSearchHTML" value="@Model.AllEmployeesSearchString" />

                        <button type="button" class="btn btn-outline-primary ml-1" onclick="copyValueAndSubmitForm('allEmpSearchHTML', 'allEmpSearchASP', 'professorsAndLeadersForm')">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>

                    </div>

                </div>

                <div class="float-right pb-3">

                    <input type="hidden" id="allEmpPageIndex" asp-for="@Model.PageIndexAllEmployees" value="@Model.PageIndexAllEmployees" />

                    <button type="button" class="btn btn-primary" onclick="decrementOneAndSubmitForm('allEmpPageIndex', 'professorsAndLeadersForm')">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>

                    <span class="h5 vertical-align-md mb-0">@(Model.PageIndexAllEmployees+1) | @(Model.PageMaxAllEmployees+1)</span>

                    <button type="button" class="btn btn-primary" onclick="incrementOneAndSubmitForm('allEmpPageIndex', 'professorsAndLeadersForm', '@(Model.PageMaxAllEmployees)')">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>

                </div>

            </div>

            <input type="hidden" id="allEmpSortingOption" asp-for="@Model.AllEmployeesSortingOption" value="@(Model.AllEmployeesSortingOption)" />

            <table class="leader-landing-page table-dark table-striped">

                <thead>

                    <tr>
                        <th style="width:10%" scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">
                            Navn
                            <span>
                                <button type="button" class="btn btn-link" title="Sort by Name Ascending"
                                        onclick="setValueAndSubmitForm('allEmpSortingOption', 'professorsAndLeadersForm', '@(Models.Employee.SortingOptions.NameASC)')">
                                    <i class="fa fa-angle-up"></i>
                                </button>

                                <button type="button" class="btn btn-link" title="Sort by Name Descending"
                                        onclick="setValueAndSubmitForm('allEmpSortingOption', 'professorsAndLeadersForm', '@(Models.Employee.SortingOptions.NameDESC)')">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </span>
                        </th>
                        <th scope="col" class="text-center">
                            Titel
                            <span>
                                <button type="button" class="btn btn-link" title="Sort by Name Ascending"
                                        onclick="setValueAndSubmitForm('allEmpSortingOption', 'professorsAndLeadersForm', '@(Models.Employee.SortingOptions.TitleASC)')">
                                    <i class="fa fa-angle-up"></i>
                                </button>

                                <button type="button" class="btn btn-link" title="Sort by Name Descending"
                                        onclick="setValueAndSubmitForm('allEmpSortingOption', 'professorsAndLeadersForm', '@(Models.Employee.SortingOptions.TitleDESC)')">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                            </span>
                        </th>
                        <th style="width:10%" scope="col" class="text-center">Se</th>
                        <th style="width:10%" scope="col" class="text-center">Redigér</th>
                    </tr>

                </thead>

                <tbody>

                    @for (int i = 0; i < Model.PaginatedEmployees.Count; i++)
                    {
                        <tr style="height: 1rem;">
                            <th style="width:10%" scope="row" class="text-center">@(i + 1 + (Model.MaxItemsAllEmployees * Model.PageIndexAllEmployees))</th>
                            <td class="text-left">@((Model.PaginatedEmployees[i] as Models.Employee).Name)</td>
                            <td class="text-left">@((Model.PaginatedEmployees[i] as Models.Employee).Title)</td>
                            <td style="width:10%" class="text-center"><a asp-route-id="@(Model.PaginatedEmployees[i].Id)" asp-page="/EmployeeLandingPage/EmployeeLandingPage"><i class="fa-solid fa-circle-info"></i></a></td>
                            <td style="width:10%" class="text-center"><i class="fa-solid fa-pen"></i></td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
        <div class="col-1"></div>

        <hr />

        @if (HttpContext.User.IsInRole(Models.User.UserType.Adminstrator.ToString()))
        {
            <div class="col-1"></div>
            <div class="col-10">

                <h3 class="">Alle Ledere</h3>

                <div class="pagination-search-container pb-3">

                    <div class="float-left pb-3">

                        <div class="input-group mr-1">

                            <input type="hidden" id="allLeadsSearchASP" asp-for="@Model.AllLeadersSearchString" value="@Model.AllLeadersSearchString" />
                            <input type="text" class="form-control" id="allLeadsSearchHTML" value="@Model.AllLeadersSearchString" />

                            <button type="button" class="btn btn-outline-primary ml-1" onclick="copyValueAndSubmitForm('allLeadsSearchHTML', 'allLeadsSearchASP', 'professorsAndLeadersForm')">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>

                        </div>

                    </div>

                    <div class="float-right pb-3">

                        <input type="hidden" id="allLeadsPageIndex" asp-for="@Model.PageIndexAllLeaders" value="@Model.PageIndexAllLeaders" />

                        <button type="button" class="btn btn-primary" onclick="decrementOneAndSubmitForm('allLeadsPageIndex', 'professorsAndLeadersForm')">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>

                        <span class="h5 vertical-align-md mb-0">@(Model.PageIndexAllLeaders + 1) | @(Model.PageMaxAllLeaders + 1)</span>

                        <button type="button" class="btn btn-primary" onclick="incrementOneAndSubmitForm('allLeadsPageIndex', 'professorsAndLeadersForm', '@(Model.PageMaxAllLeaders)')">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>

                    </div>

                </div>

                <input type="hidden" id="allLeadsSortingOption" asp-for="@Model.AllLeadersSortingOption" value="@(Model.AllLeadersSortingOption)" />

                <table class="leader-landing-page table-dark table-striped">

                    <thead>

                        <tr>

                            <th style="width:10%" scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">
                                Navn
                                <span>
                                    <button type="button" class="btn btn-link" title="Sort by Name Ascending"
                                            onclick="setValueAndSubmitForm('allLeadsSortingOption', 'professorsAndLeadersForm', '@(Models.Leader.SortingOptions.NameASC)')">
                                        <i class="fa fa-angle-up"></i>
                                    </button>

                                    <button type="button" class="btn btn-link" title="Sort by Name Descending"
                                            onclick="setValueAndSubmitForm('allLeadsSortingOption', 'professorsAndLeadersForm', '@(Models.Leader.SortingOptions.NameDESC)')">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                </span>
                            </th>
                            <th scope="col" class="text-center">Rolle</th>
                            <th style="width:10%" scope="col" class="text-center">Redigér</th>

                        </tr>

                    </thead>

                    <tbody>

                        @for (int i = 0; i < Model.PaginatedLeaders.Count; i++)
                        {
                            <tr style="height: 1rem;">
                                <th style="width:10%" scope="row" class="text-center">@(i + 1 + (Model.MaxItemsAllLeaders * Model.PageIndexAllLeaders))</th>
                                <td class="text-left">@((Model.PaginatedLeaders[i] as Models.Leader).Name)</td>
                                <td class="text-left">Leader</td>
                                <td style="width:10%" class="text-center"><i class="fa-solid fa-pen"></i></td>
                            </tr>
                        }

                    </tbody>

                </table>

            </div>
            <div class="col-1"></div>
        }

    </form>

 </div>
