@page "{id:int}"
@model RAM___RUC_Allocation_Manager.Pages.LeaderLandingPage.LeaderLandingPageModel
@{
}


<h2 class="text-white pb-3">Velkommen @Model.Leader.Name</h2>

<div class="row">

    <div class="col-1"></div>
    <div class="col-10">

        <h3 class="text-white">Alle Undervisere for dine studier</h3>

        <form method="post" class="float-right pb-3" asp-page-handler="PaginatedResult">
            <button class="btn btn-primary text-white-hover" onclick="decrementOne('paginationProgrammeEmployees', '1')"><i class="fa-solid fa-arrow-left"></i></button>
            <input hidden="@true" id="paginationProgrammeEmployees" asp-for="PageIndexProgrammeEmployees" />
            <span class="text-white h5 vertical-align-md mb-0">@(Model.PageIndexProgrammeEmployees+1) | @(Model.PageMaxProgrammeEmployees+1)</span>
            <button class="btn btn-primary text-white-hover" onclick="incrementOne('paginationProgrammeEmployees', '@Model.PageMaxProgrammeEmployees')"><i class="fa-solid fa-arrow-right"></i></button>
        </form>

        <table class="leader-landing-page table-dark table-striped">

            <thead>

                <tr>
                    <th style="width:10%" scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Navn</th>
                    <th scope="col" class="text-center">Titel</th>
                    <th style="width:10%" scope="col" class="text-center">Se</th>
                    <th style="width:10%" scope="col" class="text-center">Redigér</th>
                </tr>

            </thead>

            <tbody>

                @for (int i = 0; i < Model.PaginatedProgrammeEmployees.Count; i++)
                {
                    <tr style="height: 1rem;">
                        <th style="width:10%" scope="row" class="text-center">@(i + (Model.MaxItemsProgrammeEmployees * Model.PageIndexProgrammeEmployees))</th>
                        <td class="text-left">@((Model.PaginatedProgrammeEmployees[i] as Models.Employee).Name)</td>
                        <td class="text-left">@((Model.PaginatedProgrammeEmployees[i] as Models.Employee).Title)</td>
                        <td style="width:10%" class="text-center"><i class="fa-solid fa-circle-info"></i></td>
                        <td style="width:10%" class="text-center"><i class="fa-solid fa-pen"></i></td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
    <div class="col-1"></div>

    <hr />

    <div class="col-1"></div>
    <div class="col-10">

        <h3 class="text-white">Alle Undervisere</h3>

        <form method="post" class="float-right pb-3" asp-page-handler="PaginatedResult">
            <button class="btn btn-primary text-white-hover" onclick="decrementOne('paginationAllEmployeesInput', '1')"><i class="fa-solid fa-arrow-left"></i></button>
            <input hidden="@true" id="paginationAllEmployeesInput" asp-for="PageIndexAllEmployees" />
            <span class="text-white h5 vertical-align-md mb-0">@(Model.PageIndexAllEmployees+1) | @(Model.PageMaxAllEmployees+1)</span>
            <button class="btn btn-primary text-white-hover" onclick="incrementOne('paginationAllEmployeesInput', '@Model.PageMaxAllEmployees')"><i class="fa-solid fa-arrow-right"></i></button>
        </form>

        <table class="leader-landing-page table-dark table-striped">

            <thead>

                <tr>
                    <th style="width:10%" scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Navn</th>
                    <th scope="col" class="text-center">Titel</th>
                    <th style="width:10%" scope="col" class="text-center">Se</th>
                    <th style="width:10%" scope="col" class="text-center">Redigér</th>
                </tr>

            </thead>

            <tbody>

                @for (int i = 0; i < Model.PaginatedEmployees.Count; i++)
                {
                    <tr style="height: 1rem;">
                        <th style="width:10%" scope="row" class="text-center">@(i + (Model.MaxItemsAllEmployees * Model.PageIndexAllEmployees))</th>
                        <td class="text-left">@((Model.PaginatedEmployees[i] as Models.Employee).Name)</td>
                        <td class="text-left">@((Model.PaginatedEmployees[i] as Models.Employee).Title)</td>
                        <td style="width:10%" class="text-center"><i class="fa-solid fa-circle-info"></i></td>
                        <td style="width:10%" class="text-center"><i class="fa-solid fa-pen"></i></td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
    <div class="col-1"></div>

    <hr />

</div>


